/* LAYOUT */

body {
  color: var(--font-color);
  background: var(--color-secondary);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;

}


.site-nav a {
  display: block;
  padding: 1rem;

}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;

}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }


}


/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}



table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}


.topics tr:hover {background-color:var(--table-hover);}

.topics th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1b449b;
  color: white;
}


.breadcrumbs {
  color: var(--link-color);
  text-decoration: none;
}

a {
  text-decoration: none; 
  color: var(--link-color)
}

pre {
  white-space: pre-wrap;
}

.math {
  width: 100vw;
  max-width: 600px;
  height: fit-content;
}






.theme-light {
  --color-primary: #4b99ff;
  --color-secondary: #fbfbfe;
  --color-side: #dcdcdc;
  --color-accent: #fd6f53;
  --font-color: #333;
  --link-color: #003b89;
  --table-hover:  rgb(189, 189, 189);
  --ink-color:  rgb(91, 41, 218);
}
.theme-dark {
  --color-primary: #1ea168;
  --color-secondary: #2f3032;
  --color-side: #505255;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --link-color: #818cff;
  --table-hover:  #3e3f42;
  --ink-color:  rgb(255, 147, 201);
}

.theme-toby {
  --color-primary: #ff4b4b;
  --color-secondary: #17172b;
  --color-side: #363d48;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --link-color: #818cff;
  --table-hover:  #252546;
  --ink-color:  rgb(237, 255, 192);
}

.site-header button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.logo g{ 
  fill:var(--font-color);
}

#nofill { 
  fill: none;
}

.math path{ 
  fill: var(--ink-color);
  stroke: var(--ink-color);
  stroke-width: 1;
}



.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  background: var(--color-side);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12pt;
  visibility:visible;
}

.sidenav a {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  color: var(--font-color);
  display: block;
}

.sidenav a:hover {
  background-color: var(--table-hover);
}

.sidenav li:hover {
  display: block;
  background-color: var(--table-hover);
}


.sideTitle {
  padding: 6px;
  text-decoration:underline;
  font-weight: bold;
  font-size: 16pt;
  color: var(--font-color);
  display: block;
}

.main
{
  max-width: 100%;
  width:100%;
  padding-right: 10px;
  position: absolute;
  left:350px;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    width:0px;
    visibility:hidden;
  }

  .main {  
    position: relative;
    left: 0px;
  }
  }
  
footer {
  bottom: 0;
}
